*{
  box-sizing: border-box;
}
body{
  font:12px "Microsoft yahei",Arial,Helvetica,sans-serif;
  color:#666;
  margin:0;
  padding: 0;
}
ul,li,p,h1,h2,h3,h4,h5,h6{
  margin:0;
  padding:0;
  border:none;
  list-style: none;
}
.fl{
  float: left;
}
.fr{
  float:right;
}
a{
  text-decoration: none;
  color:#333;
}
.top,.footer,.banner{
  width:1380px;
}
.banner{
  margin-top:30px;
}
.container{
  width:1000px;
  margin:0 auto;
}
